#home-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;

  > form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: $neutral-200;

    > fieldset{
      display: flex;
      gap: 1em;
      

      > .field {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        > label {
          font-size: 0.8em;
          color: $neutral-800
        }

        > input {
          width: 150px;
        }

        > .control {
          min-width: 150px;
        }
      }

      > .field:last-child {
        width: 75%;
        max-width: 150px;
      }
    }

    button {
      span {
        font-size: 2em;
      }
    }
  }

  > #date-radio-fieldset {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    padding: 1em;
    color: $neutral-100;

    > .field {
      > label {
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background-color: $neutral-500;
        padding: 0.4em;
      }

      > .control {
        @extend .sr-only;
      }
    }

    > .field:has(.control:checked) {
      > label {
        background-color: $neutral-400;
      }
    }
  }

  > #card-showcase {
    > div:first-child {

    }

    > div:last-child {

    }
  }
}